# .env
DEBUG=True
SECRET_KEY=django-insecure-!x@6z&p@_mо(k9$r5t7w)z+a-b^d*f+h=j{n}c~v>y?u<i>l|o
POSTGRES_DB=diplom_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432